// ****************//
// common-color//
$white: #fff;
$black: #000;
$gray: gray;
$bg-color: #F8EEE5;





//**************************//
// variable-color //

$main-color: #DF8221;
$text-color: #5E5E68;
$black-color: #18191F;
$submenu-bg: #ddd;
$hover-color: #FFEEDD;
$background-color: #FFF7EE;
$start-color: #ffa900;
$ftext-color: #D9DBE1;
$h2-color: #E11E20;
$h3-color: #227500;
$border-color: #8692A6;

