/* BASE */ /* common color */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
  font-size: 16px;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

img {
  width: 100%;
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

/* common color */ /* padding & margin */
.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-100 {
  padding-right: 100px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-100 {
  padding-left: 100px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-100 {
  margin-right: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

/* utils */
/* layouts */
.bwduf-unfold-1-area .bwduf-unfold-item {
  max-inline-size: 900px;
  margin: 0 auto;
  min-block-size: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #313552;
  padding-block: 20px;
  padding-inline: 30px;
  border-radius: 20px;
}
.bwduf-unfold-1-area .bwduf-unfold-content {
  transition: 0.4s linear;
}
.bwduf-unfold-1-area .bwduf-unfold-content .bwduf-unfold-title {
  text-align: center;
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
  line-height: 1;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.bwduf-unfold-1-area .bwduf-unfold-content .bwduf-unfold-description {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;
  line-height: 25px;
  overflow: hidden;
  max-height: 75px;
  color: #fff;
  transition: 0.4s linear;
}
.bwduf-unfold-1-area .bwduf-unfold-content .bwduf-unfold-description.unfold-show-more {
  max-height: 100000px;
}
.bwduf-unfold-1-area .bwduf-unfold-content .bwduf-unfold-btn-area {
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
}
.bwduf-unfold-1-area .bwduf-unfold-content .bwduf-unfold-btn-area .bwduf-unfold-icon {
  display: inline-table;
  font-size: 24px;
  color: #fff;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.bwduf-unfold-1-area .bwduf-unfold-content .bwduf-unfold-btn-area .bwduf-unfold-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  display: inline-block;
  border: none;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #fff;
}

.bwduf-unfold-2-area .bwduf-unfold-item {
  max-inline-size: 900px;
  margin: 0 auto;
  min-block-size: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #2A9D8F;
  padding-block: 25px;
  padding-inline: 30px;
  border-radius: 20px;
}
.bwduf-unfold-2-area .bwduf-unfold-content {
  transition: 0.4s linear;
}
.bwduf-unfold-2-area .bwduf-unfold-content .bwduf-unfold-title {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
  line-height: 1;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.bwduf-unfold-2-area .bwduf-unfold-content .bwduf-unfold-description {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 25px;
  overflow: hidden;
  max-height: 75px;
  color: #fff;
  transition: 0.4s linear;
  position: relative;
}
.bwduf-unfold-2-area .bwduf-unfold-content .bwduf-unfold-description::before {
  content: "";
  position: absolute;
  inset-block-end: -25px;
  inset-inline-start: 0;
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0117647059) 0%, #2A9D8F 100%);
  z-index: 1;
  block-size: 100%;
  inline-size: 100%;
  transition: 0.4s;
}
.bwduf-unfold-2-area .bwduf-unfold-content .bwduf-unfold-description.unfold-show-more {
  max-height: 100000px;
}
.bwduf-unfold-2-area .bwduf-unfold-content .bwduf-unfold-description.unfold-show-more::before {
  content: none;
}
.bwduf-unfold-2-area .bwduf-unfold-content .bwduf-unfold-btn-area {
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
}
.bwduf-unfold-2-area .bwduf-unfold-content .bwduf-unfold-btn-area .bwduf-unfold-icon {
  display: inline-table;
  font-size: 24px;
  color: #fff;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.bwduf-unfold-2-area .bwduf-unfold-content .bwduf-unfold-btn-area .bwduf-unfold-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
  display: inline-block;
  border: none;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-bottom: 2px dotted #fff;
}

.bwduf-unfold-3-area .bwduf-unfold-item {
  max-inline-size: 600px;
  margin: 0 auto;
  min-block-size: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: linear-gradient(320deg, #562dd4 0%, #e2498a 100%);
  padding-block: 25px;
  padding-inline: 30px;
  border-radius: 20px;
}
.bwduf-unfold-3-area .bwduf-unfold-content {
  transition: 0.4s linear;
}
.bwduf-unfold-3-area .bwduf-unfold-content .bwduf-unfold-title {
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
  line-height: 1;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.bwduf-unfold-3-area .bwduf-unfold-content .bwduf-unfold-description {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 25px;
  overflow: hidden;
  color: #fff;
  transition: 0.4s linear;
  position: relative;
}/*# sourceMappingURL=style.css.map */