.bwd-brand-logo-3{
    padding: 30px 0;
    .bwd-brand-box-part {
        display: flex;
        align-items: center;
        margin: 10px;
        height: 110px;
        justify-content: center;
        box-shadow: 0 0 10px 0 #ddd; 
    }
}

