// body var
$bodyFont: 'Roboto',
sans-serif;
$titleFont :'Roboto',
sans-serif;
$bfSize: 16px;
$bLineHeight: 26px;
$fontWeight: 400;
$transition: all .5s linear;
//colors variables;
$primary-color: #ff4443;
$bfColor: #707070;
$white: #fff;
$black: #000;
$bgOne: #f7f6fC;
$title-color:#1d1515;