*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
    margin-left: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}