.bwduf-unfold-1-area {
    .bwduf-unfold-item {
        max-inline-size: 900px;
        margin: 0 auto;
        min-block-size: 200px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #313552;
        padding-block: 20px;
        padding-inline: 30px;
        border-radius: 20px;
    }
    .bwduf-unfold-content {
        transition: .4s linear;
        .bwduf-unfold-title {
            text-align: center;
            margin-block-end: 15px;
            line-height: 1;
            font-size: 25px;
            font-weight: 600;
            color: #fff;
            letter-spacing: 2px;
            text-transform: capitalize;
        }
        .bwduf-unfold-description {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1px;
            font-style: italic;
            line-height: 25px;
            overflow: hidden;
            max-height: 75px;
            color: #fff;
            transition: .4s linear;
            &.unfold-show-more {
                max-height: 100000px;
            }
        }
        .bwduf-unfold-btn-area {
            margin-block-start: 8px;
            .bwduf-unfold-icon {
                display: inline-table;
                font-size: 24px;
                color: #fff;
                margin-inline-end: 5px;
            }
            .bwduf-unfold-btn {
                color:#fff;
                font-size: 20px;
                font-weight: 700;
                text-transform: capitalize;
                letter-spacing: 2px;
                cursor: pointer;
                display: inline-block;
                border: none;
                overflow: hidden;
                position: relative;
                z-index: 1;
                border-bottom: 1px solid #fff;
            }
        }
    }
}