/*timeline one start*/

/* common css*/
@include mq(xs){
    .bwd-timeline-desc {
        font-size: 15px;
        line-height: 22px;
    }
   .bwd-timeline-title {
        font-size: 20px;
       
    }
}
@include mq(sm){
    .bwd-timeline-desc {
        font-size: 16px;
        line-height: 26px;
    }

    .bwd-timeline-title {
        font-size: 20px;
       
    }
}
.bwd-timeline-one{
    position: relative;
    overflow: hidden;
    padding: 60px 30px;
    margin: 80px 0;
    background: #fdedef;
    transition: min-height .3s;
    
    .bwd-progress-line-wrapper {
        position: relative;
        height: 10px;
        z-index: 1;
        background: #0652dd;
        box-shadow: 0 0 3px #033184;
        left: 0;
        right: 0;

        @include mq(md){
            position: absolute;
            bottom: 0;
            margin: 7px;
        }

        .bwd-progress-line{
            position: relative;
            height: 100%;
            width: 10px;
            max-width: 100%;
            background-color: #d63031;
            transition: .5s;
            &::before{
                content: "";
                position: absolute;
                display: inline-block;
                height: 20px;
                width: 20px;
                background-color: red;
                border-radius: 50%;
                right: 0;
                top: -5px;
            }
            
        }
       
    }
    .bwd-timeline-item-container {
        display: flex;
        justify-content: space-between;
        &.bwd-timeline-top-items {
            padding-bottom: 30px;
            align-items: flex-end;
            
            @include mq(md){
                position: static;
                height: 0;
                padding-bottom: 0;
               
             }

            .bwd-timeline-item {
                .bwd-timeline-item-inner {
                    &::before {
                        top: 100%;
                    }
                }
                transform-origin: left;
                transform: rotateY(90deg);
                transition: 1s;

                &.active{
                    transform: translate(0);
                }
            }
        }
        &.bwd-timeline-bottom-items {
            align-items: flex-start;
            padding-top: 38px;
            @include mq(md){
                overflow: hidden;
                height: 0;
                padding-top: 0;
            }
            .bwd-timeline-item {
                .bwd-timeline-item-inner {
                    &::before {
                        bottom: 100%;
                        right:20px;
                        @include mq(md){
                            top: 100%;
                        }
                    }
                }
                transform-origin: right;
                transform: rotateY(90deg);
                transition: 1s;

                &.active{
                    transform: translate(0);
                }
            }
        }
        .bwd-timeline-item {
              background: #f06f85;
              flex-basis: 30%;
              min-width: 230px;
              max-width: 270px;
            .bwd-timeline-item-inner {
                position: relative;
                text-align: left;
                padding: 20px;
                box-shadow: 0 10px 10px #82a8ee;
                border-radius: 5px;
                background: #f06f85;
                .bwd-year {
                    font-size: 30px;
                    font-weight: 600;
                    color: #fff;
                    margin-bottom: 8px;
                }
                .bwd-timeline-content {
                    .bwd-timeline-title {
                        font-size: 25px;
                        text-transform: capitalize;
                        margin: 8px 0;
                        color: #fff;
                    }
                    .bwd-timeline-desc {
                        line-height: 24px;
                        color: #eee;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    height: 38px;
                    width: 50px;
                    background: #0652dd;
                }
            }
            margin:0 15px;
            &:nth-child(odd){
                @include mq(md){
                    position: absolute;
                    top: -200px;
                }
                &.active{
                    @include mq(md){
                        position: absolute;
                        left: 0;
                    }

                }
                
                
          }

          &:nth-child(even){
          @include mq(md){
            position: absolute;
            top: -200px;
          }
            &.active{
                @include mq(md){
                    position: absolute;
                    right: 0;
                }
            }
       
          }

          &.active{
             @include mq(md){
                position: absolute;
                top: 65px;
        }
          }
          
        }
        
    }
}
/*timeline one end*/